/* 기본 태그 디자인 */
* { margin: 0; padding: 0;}
ul { list-style: none; }
a { text-decoration: none; color: black; }

/* tap_menu */


/* tap_menu의 list의 li들을 나열*/
.tab_menu .list {
    display: flex;
    height: 200px;
}
/* contents */
.tab_menu .list li .content {
    display: none;
    position: absolute;
    width: 300px;
    height: 150px;
    background-color: gray;
}
.tab_menu .list li .content.on {
    display: block;
}